#include "Window.h"

MYICON ICON MyIcon.ico
MY_STONE_BITMAP BITMAP Stone.bmp
MY_KUNDALI_BITMAP BITMAP Kundali.bmp 
MY_SMILEY_BITMAP BITMAP Smiley.bmp
MY_WORLD_BITMAP BITMAP WM.bmp
MY_GRASS_BITMAP BITMAP grass.bmp
MY_WATER_BITMAP BITMAP water.bmp
MY_TERRAIN2_BITMAP BITMAP Terrain2.bmp

